---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import apoteket from "../assets/images/apoteket.jpg";
import arbejde from "../assets/images/arbejde.jpg";
import glitch from "../assets/images/glitch.jpg";
import godtarbejde from "../assets/images/godt-arbejde.jpg";
import lidtifem from "../assets/images/lidtifem-pierre-falcke.jpg";
import smena from "../assets/images/lomo-smena-17.jpg";
import overouticm from "../assets/images/over-out-icm.jpeg";
import pierre from "../assets/images/pierre.jpeg";
import tyndfilm from "../assets/images/tynd-film.jpg";
import "../styles/tobii.min.css";
---

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<div class="progress-bar h-4 fixed w-full bg-gradient-to-r from-pink-500 to-yellow-300 left-0 origin-top-left top-0 right-0"></div>

<MainLayout title="Uperfekt er perfekt">
	<article class="p-4 md:p-0">
		<section class="max-w-xl mx-auto mt-32 prose" id="titel">
			<h2 class="text-6xl md:text-8xl text-center stick-regular orange fotoinview">Uperfekt er perfekt</h2>
		</section>
		<section class="max-w-4xl mx-auto mt-32 border-6 border-amber-700" id="herovideo">
			<video width="1280" height="960" autoplay muted loop>
				<source src="pierre-falcke-video.mp4" type="video/mp4">
			</video> 
		</section>
		  


		<section class="max-w-xl mx-auto mt-32 prose sticky" id="manchet">
			<article><!-- containeren -->
				<div class="sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center" style="background-image: url('/pierre.jpeg')" ></div><!-- sticky elementet -->
				<div class="relative flex justify-end"><!-- relative elementet -->
					<div class="flex flex-col w-full md:w-1/2 h-full gap-4 p-4 ">
						<div class="bg-slate-100 p-4">
							<p class="quicksand">Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. </p>
						</div>
						<div class="bg-slate-100 p-6 quicksand">
							<p class="">Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året.</p>
						</div>
						<div class="bg-slate-100 p-6 quicksand">
							<p class="">Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.</p>
						</div>
					</div>
				</div>
				<div class="h-[100vh]"></div><!-- afstandsstykket -->
			</article>
		</section>

		<section class="max-w-xl mx-auto mt-32 prose pb-40" >
			<div id="stagger">
			<p class="text-2xl italic text-center orange-bg p-8 text-white quicksand staggeranimation">
				Pierre sælger 2 millioner fotos om året
			</p>
			<p class="text-2xl italic text-center green-bg p-8 text-white quicksand staggeranimation">
				Det svarer til én fotolicens hvert 16. sekund
			</p>
			<p class="text-2xl italic text-center blue-bg p-8 text-white quicksand staggeranimation">
				Du ser hans fotos ca. 2 gange om dagen
			</p>
		</div>
	</section>

		<section>
		<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/doodle_bg.webp')" >
			<div class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-slate-50 text-xl stickyparallax1 quicksand">
				<h2 class="text-2xl stick-regular">Hvad er stock-fotos?</h2>
				<p>Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</p>
				<Image src={arbejde} alt="" />
			</div>
		</div>
	</section>

	<section>
		<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0 " style="background-image: url('/doodle_bg_blue.webp')" >
			<div class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-slate-50 text-xl stickyparallax1 quicksand">
				<p>Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</p>
				<Image src={apoteket} alt="" />
			</div>
		</section>

		<section>
			<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/doodle_bg_green.webp')" >
				<div class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-slate-50 text-xl stickyparallax1 quicksand">
					<p>Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</p>
					<Image src={godtarbejde} alt="" />
				</div>
		</div>
	</section>
	


		<section class="max-w-xl mx-auto mt-32 prose fotoinview" id="pierresberoemmelse">
			<h2 class="text-4xl stick-regular orange">Pierres berømmelse</h2>
			<p class="quicksand">Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.</p>
			<p class="quicksand">Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil. </p>
			<p class="quicksand">På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</p>
			<p class="quicksand">Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</p>
			<p class="quicksand">Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX. 
			</p>
		</section>
		<section id="enskillevej">
			<div class="max-w-xl mx-auto mt-32 prose fotoinview2">
				<h2 class="text-4xl stick-regular orange ">En skillevej</h2>
				<p class="quicksand">Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.</p>
				<p class="quicksand">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</p>
			</div>
		</section>

<section>
	<article class=" mx-auto mt-32">
		<div class="sticky top-1/4 mangeelementerinview grid grid-cols-5">
			  <div class="p-8 orange-bg text-center text-white mangeelementer1"></div>
			  <div class="mangeelementer2"><Image src={glitch} class="" alt=""></Image></div>
			  <div class="p-8 green-bg text-center text-white mangeelementer3"></div>
			  <div class="mangeelementer4"><Image src={overouticm} alt="" class="" /></div>
			  <div class="p-8 blue-bg text-center text-white mangeelementer5"></div>
			  <div class="mangeelementer6"><Image src={tyndfilm} alt="" class="" /></div>
			  <div class="p-8 yellow-bg text-center text-white mangeelementer7"></div>
			  <div class="mangeelementer8">	<Image src={smena} class="" alt=""></Image></div>
			  <div class="p-8 orange-bg text-center text-white mangeelementer9"></div>
			  <div class="mangeelementer10"><Image src={pierre} class="" alt=""></Image></div>
		</div>
		<div class="h-screen">
		</div>
		</article>  
	</section>
			
        <section>
			<div class="flex items-center h-screen w-full bg-cover bg-center sticky top-0" style="background-image: url('/doodle_bg.webp')" >
				<div class="w-3/4 lg:w-1/4 lg:ml-64 p-10 bg-slate-50 text-xl stickyparallax1 quicksand">
					<p>Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</p>
				</div>
		</div>
		</section>
		
		<section class="max-w-4xl mx-auto my-32 prose border border-double p-8 bg-[url(/2301.webp)] shadow-xl fotoinview2" id="fotoeksperimenter">
			<h2 class="text-2xl stick-regular">Fotoeksperimenter</h2>
			<div class="grid grid-cols-3 gap-4">
				<div>
					<h3 class="text-xl stick-regular">Analog fotografering</h3>
					<p class="quicksand">Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker. </p>
					<p class="quicksand">Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.</p>
				</div>
				<div>
					<h3 class="text-xl stick-regular">Glitch art</h3>
					<p class="quicksand">Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</p>
					
				</div>
				<div>
					<h3 class="text-xl stick-regular">Lomografi</h3>
					<p class="quicksand">Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt.</p>
					<p class="quicksand">Det kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.</p>
				</div>
			</div>
		</section>

		<div class="" id="timelineanimationimage">
			<section class="timelineanimation ">
				<Image src={glitch} class="scrollzoomimg w-full" alt="">
				</section> 
			</div>

		<section id="nybegyndelse ">
			<div class="max-w-xl mx-auto my-32 prose fotoinview">
				<h2 class="text-4xl stick-regular orange">En ny begyndelse</h2>
				<p class="quicksand">Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde. Som Pierre selv udtrykker det: <span class="italic">“Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.”</span></p>
			</div>
		
			<div class="gap-4 max-w-4xl mx-auto my-8 items-center prose">
				<section class="scrollzoom overflow-clip">
					<Image src={tyndfilm} class="scrollzoomimg w-full" alt="">
					</section> 
				</div>
			<div class="max-w-xl mx-auto my-32 prose">
				<p class="quicksand">Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.</p>
				<p class="quicksand">Som Pierre forklarer det: <span class="italic">“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.”</span></p>			
				<div>
					<a href="lidtifem-pierre-falcke.jpg" class="lightbox">
						<Image src={lidtifem} alt="" class="not-prose inviewreturn"/>
						<figcaption class="quicksand">Lidt i fem - ny bog af Pierre Falcke</figcaption>
					</a>			
				</div>
			</div>
		</section>
	</article>

	<section class="relative h-[300vh]">
		<!-- Sticky baggrund -->
		<div class="sticky top-0 h-screen flex items-center justify-center">
			<div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/pierre.jpeg')"></div>
		</div>
	
		<!-- Scrollende indhold -->
		<div class="absolute top-0 left-0 w-full h-full flex flex-col items-end justify-center">
			<div class="w-full md:w-1/2 space-y-16">
				<div class="bg-slate-100 p-6 shadow-lg">
					<p class="text-center">Scrollende indhold 1</p>
				</div>
				<div class="bg-slate-100 p-6 shadow-lg">
					<p class="text-center">Scrollende indhold 2</p>
				</div>
				<div class="bg-slate-100 p-6 shadow-lg">
					<p class="text-center">Scrollende indhold 3</p>
				</div>
			</div>
		</div>
	</section>
	
	
</MainLayout>
<script is:inline src="/tobii.min.js"></script>
<script defer>
	const tobii = new Tobii(); 
</script>
<script>
	/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";

//animationer her//

animate( "body", { opacity: [ 0, 1] }, { duration: 2 })

inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [-2000, 0 ] }, { duration: 3 })
	})

	inView( ".fotoinview2" , () =>{
	animate( ".fotoinview2", { x: [2000, 0 ] }, { duration: 3 })
	})


	inView( "#stagger" , () =>{
		animate(
		"#stagger p",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { startDelay: 1 })
		}
		)
	})

	inView( "#timelineanimationimage" , () =>{
		const timelineanimation = [
		[".timelineanimation", { opacity: 1 }, { duration: 5 }],
		[".timelineanimation", { transform: "rotate(360deg)" }, { duration: 3 }],
		[".timelineanimation", { transform: "scale(1.5)" }, { duration: 0.5 }],
		[".timelineanimation", { transform: "scale(1)" }, { duration: 1 }],
		[".timelineanimation", { opacity: 0.3 }, { duration: 5 }],
		]
		animate( timelineanimation, { duration: 10, repeat: 2 } );
	})

	inView( ".inviewreturn", (element) => {
  	animate(
      element,
      { rotate: [180, 0] },
      { delay: 1, duration: 2 },
  	) 
    return () => {
      animate(
       element,
        { rotate: 180 }
      )
  	}
	})  

		/*Progress-baren/læseindikatoren */
		scroll( animate(".progress-bar", { scaleX: [0, 1] }));

		scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 1.5]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["0.75 end", "end end"]
    }
    )

	/* Mange elementer der animerer ind */
	inView( ".mangeelementerinview", () =>{
	animate( ".mangeelementer1", { x: [-2000, 0 ], y: [-50, 0 ] }, { duration: 1 }) 
	animate( ".mangeelementer2", { x: [-1500, 0 ], y: [-100, 0 ] }, { duration: 3 })
	animate( ".mangeelementer3", { x: [-1000, 0 ], y: [-150, 0 ] }, { duration: 3 })
	animate( ".mangeelementer4", { x: [1750, 0 ] }, { duration: 2 })
	animate( ".mangeelementer5", { x: [-2000, 0 ], y: [-100, 0 ]  }, { duration: 1 })
	animate( ".mangeelementer6", { x: [2000, 0 ] }, { duration: 2 })
	animate( ".mangeelementer7", { x: [1500, 0 ], y: [50, 0 ] }, { duration: 3 })
	animate( ".mangeelementer8", { x: [1000, 0 ], y: [150, 0 ] }, { duration: 2 })
	animate( ".mangeelementer9", { x: [1500, 0 ], y: [0, 0 ] }, { duration: 1 })
	animate( ".mangeelementer10", { x: [2000, 0 ] , y: [50, 0 ] }, { duration: 2 })
	return () => {
		animate( ".mangeelementer1", { x: [-2000, 0 ], y: [-50, 0 ] }, { duration: 1 }) 
		animate( ".mangeelementer2", { x: [-1500, 0 ], y: [-100, 0 ] }, { duration: 3 })
		animate( ".mangeelementer3", { x: [-1000, 0 ], y: [-150, 0 ] }, { duration: 3 })
		animate( ".mangeelementer4", { x: [1750, 0 ] }, { duration: 2 })
		animate( ".mangeelementer5", { x: [-2000, 0 ], y: [-100, 0 ]  }, { duration: 1 })
		animate( ".mangeelementer6", { x: [2000, 0 ] }, { duration: 2 })
		animate( ".mangeelementer7", { x: [1500, 0 ], y: [50, 0 ] }, { duration: 3 })
		animate( ".mangeelementer8", { x: [1000, 0 ], y: [150, 0 ] }, { duration: 2 })
		animate( ".mangeelementer9", { x: [1500, 0 ], y: [0, 0 ] }, { duration: 1 })
		animate( ".mangeelementer10", { x: [2000, 0 ] , y: [50, 0 ] }, { duration: 2 })
   		}
  	})
	
		/* Horisontal scroll sektion */
		scroll(
	animate("#horisontalliste", {
		transform: ["none", "translateX(-500vw)"]
	}),
	{ target: document.querySelector("#horisontalscrollsection") }
	);

	scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
		target: document.querySelector(".stickyparallax1"),
	});

	scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 1.5]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["0.75 end", "end end"]
    }
    )

	</script>
